<% @messages.each do |message| %>
  <% if message.messageable == current_user || message.messageable == current_photographer %>
    <div class="outgoing-message">
      <%= message.content %>
    </div>
  <% else %>
    <div class="incoming-message">
      <%= message.content %>
    </div>
  <% end %>
<% end %>
