<% if @user %>
  <p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>e-mail</strong>
    <%= @user.email %>
  </p>

  <%= link_to "アカウント設定の変更", edit_user_registration_path, class: "btn btn-primary" %>

<% else %>
  <p>ユーザーが存在しません</p>
<% end %>

