.signup-heading {
  margin-left: 38%; /* これは全体のフォームを左にずらす量と同じ */
  margin-bottom: 10%;
  align-self: center;
}

.form_center {
  margin-top: 150px; /* これは例です、必要に応じて値を調整してください */
}


.form_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* 左揃えに変更 */
    margin-bottom: 20px;
    margin-left: 33%; /* 3分の1を左にずらす */
  }
  
  .back_actions {
    align-self: center; /* "戻る" ボタンを中央に配置 */
  }
  
  
  .form_row {
    margin-bottom: 10px;
  }
  
  .actions input[type="submit"] {
    margin-bottom: 10px;
  }
  
  .account_actions {
    display: flex;
    flex-direction: column;
    margin-left: 33%; 
  }
  
  .back_link {
    align-items: flex-start;  /* 左揃えに変更 */

  }
  
  .form_input_group {
    max-width: 199px; /* ここは適切な幅に調整してください */
    width: 100%;
  }
  
  .form_label,
  .form_input {
    width: 100%;
  }

  .login_link {
    position: relative;
    top: -75px; /* 例として20px上に移動させる、調整が必要な場合は値を変更 */
    margin-left: 40%;
    margin-bottom: 330px;
  }
  